header{
    .navbar{
        background-color: #d6ccc2 !important;
        div{
            background-color: #d6ccc2;
            a{
                padding: 0;
                background-color: #d6ccc2;
                img{
                    width: 150px;
                    height: 56px;
                }
            }
        }
    }
}