main{
    .categorias{
        div{
            display: flex;
            justify-content: space-around;
            padding: 2px;
            background-color: nth($coloresPrincipales , 3 );
        }
    }
}